:root {
  --background: #ffffff;

  --text--primary: #20496C;
  --text--secondary: #4F637D;
  --text--tertiary:#030E16;
  --text--quaternary: #5D7FA3;
  --text--quinary: #96CAF7;

  --primary--color: #32ABF2;

  --transition: all 0.3s ease;


}
body{
  font-family: var(--font-inter-regular);
}

a{
  text-decoration: none;
  color: inherit;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}