.registerWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .registerContainer {
        background-color: aliceblue;
        height: 85%;
        width: 75%;
        display: flex;

        .progressIndicator {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 40%;
            height: 100%;
            background-image: linear-gradient(to top, #0D3251, #19476C);

            .stepsAndButtons {
                .stepsWrapper {
                    display: flex;
                    gap: 5px;

                    .steps {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .stepInactive {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: 2px solid var(--text--quaternary);
                        }

                        .stepActive {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: 2px solid var(--text--quinary);
                        }
                        
                        .stepCompleted {
                            width: 32px;
                            height: 32px;
                            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%2332ABF2'/%3E%3Cpath d='M21.3334 12L14.0001 19.3333L10.6667 16' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }

                        .connectorInactive {
                            height: 48px;
                            width: 0px;
                            border: 1px solid var(--text--quaternary);
                        }

                        .connectorActive {
                            height: 48px;
                            width: 0px;
                            border: 1px solid var(--text--quinary);
                        }
                    }
                }

                .stepsNames {
                    .stepsList {
                        list-style: none;
                        font-size: 16px;
                        color: var(--text--quaternary);
                        font-weight: 400;

                        .listItemInactive {
                            height: 32px;
                            display: flex;
                            align-items: center;
                            margin-bottom: 48px;
                        }

                        .listItemActive {
                            height: 32px;
                            display: flex;
                            align-items: center;
                            margin-bottom: 48px;
                            color: #fff;
                        }
                    }
                }

                .buttonsWrapper {
                    display: flex;
                    justify-content: space-between;
                    .btnPrev, .btnNext {
                        padding: 6px 12px;
                        background-color: var(--text--primary);
                        color: #93A8C1;
                        border: none;
                        cursor: pointer;
                        transition: var(--transition);
                        border-radius: 4px;
                        
                        &:hover {
                            color: white;
                            scale: 1.05;
                        }
                        &:active {
                            scale: 0.95;
                        }
                        &.disabled {
                            cursor: auto;
                            opacity: 0.6;
                            &:hover {
                                color: var(--text--quaternary);
                                scale: 1;
                            }
                        }
                    }
                }
            }
            .onboardingStats {
                max-width: 300px;
                .stats {
                    display: flex;
                    align-items: center;
                    color: var(--text--quinary);
                    background-color: var(--text--primary);
                    border-radius: 8px;
                    padding: 16px;
                    gap: 16px;
                    .stat1 {
                        font-size: 32px;
                    }
                    .stat2 {
                        font-size: 14px;
                    }
                }
                .dots {
                    display: flex;
                    justify-content: center;
                    gap: 12px;
                    padding-top: 16px;
                    .dotActive {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: var(--text--quinary);
                    }
                    .dotInactive {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: var(--text--primary);
                    }
                }
            }
        }

        .formWrapper {
            background-image: url("../../../public/formBackground.png");
            background-size: contain;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            .formContainer {
                width: 400px;
                min-height: 50%;
                background-color: white;
                padding: 40px;
                border-radius: 8px;
                box-shadow: 0px 5px 20px 0px #6C758B33;

                .title {
                    font-size: 24px;
                    font-weight: 600;
                    color: var(--text--primary);
                    padding-bottom: 16px;
                }
                .welcome {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--text--secondary);
                    padding-bottom: 32px;
                }
                .misc{
                    padding-top: 24px;
                    display: flex;
                    justify-content: center;
                    gap: 5px;
                    color: var(--text--secondary);
                    .miscLink{
                        text-decoration: none;
                        color: var(--primary--color);
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .no{
                   cursor: pointer;
                   display: flex;
                   justify-content: center;
                   padding-top: 16px;
                   color: var(--text--secondary);
                   &:hover{
                       text-decoration: underline;
                   }
                }
                .connectGmail{
                    height: 50px;
                    width: 100%;
                    background-color: #5383EC;
                    border: none;
                    border-radius: 2px;
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1px;
                    cursor: pointer;
                    transition: var(--transition);
                    &:hover{
                        scale: 1.05;
                    }
                    &:active{
                        scale: 0.95;
                    }
                    .googleLogo{
                        background-color: white;
                        width: 48px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .googleText{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: calc(100% - 50px);
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
